.BeatsControls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.BeatsControls__Section {
  display: flex;
  flex: 1 0 75px;
  flex-direction: column;
  margin-top: 14px;
}

.BeatsControls__Section._isSelected {
}

.BeatsControls__SectionRow + .BeatsControls__SectionRow {
  /* border-left: 4px dashed #777; */
}

.BeatsControls__SectionRow
  + .BeatsControls__SectionRow
  + .BeatsControls__SectionRow {
  border: none;
}

.BeatsControls__Section:first-child
  .BeatsControls__SectionRow
  + .BeatsControls__SectionRow {
  border: none;
}

.BeatsControls__SectionRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.BeatsControls__Section:last-child {
}

.BeatsControls__MuteSoloBlock {
  display: flex;
  width: 92px;
  justify-content: space-around;
}

.BeatsControls__BeatToggleButton {
  font-size: 1em;
  text-align: center;
  line-height: 1em;
  color: #2e2e2e;

  box-shadow: 0 0 20px #222;
  margin-top: 7px;
  margin-bottom: 21px;
  border-radius: 50%;
  outline: none;
  border: none;
  user-select: none;
  height: 48px;
  width: 48px;
}

.BeatsControls__BeatToggleButton._isSelected {
  border: 2px solid #eee;
  box-shadow: none;
  color: #eee;
  font-weight: 600;
}

.BeatsControls__BeatMuteButton,
.BeatsControls__BeatSoloButton {
  font-size: 0.8em;
  font-weight: 300;
  margin-top: 14px;
  color: #eee;
  text-align: center;
  line-height: 1em;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: none;
  border: 1px solid #eee;
}

.BeatsControls__BeatMuteButton._isActive {
  background-color: #1d29b9;
  border: none;
}

.BeatsControls__BeatMuteButton._isUnavailable {
  border: 1px solid #777;
  color: #ababab;
}

.BeatsControls__BeatMuteButton._isActive._isUnavailable {
  background-color: #777;
  border: none;
  color: #ababab;
}

.BeatsControls__BeatSoloButton._isActive {
  background-color: #b85d15;
  border: none;
}

.BeatsControls__TempoText {
  font-size: 0.8em;
  color: #eee;
}

.BeatsControls__Delimiter {
  font-size: 1.4em;
  line-height: 40px;
  color: #eee;
  user-select: none;
}
