.CircleControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.CircleControls__BeatButton,
.CircleControls__CancelButton,
.CircleControls__AcceptButton,
.CircleControls__DecrementButton {
  display: block;
  font-size: 1.4em;
  color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px 0px #222;
  border: none;
  outline: none;
  user-select: none;
  transition: background-color 100ms ease-in, border-width 100ms ease-in;

  z-index: 1;
}

.CircleControls__Beat {
  position: absolute;
  left: 0;
  right: 0;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 20px rgba(119, 119, 119, 0);
  }
}

.CircleControls__BeatButton {
  z-index: 2;
  position: absolute;
  background-color: #2e2e2e;
}

.CircleControls__BeatButton._isPulsing {
  box-shadow: 0 0 10px 0px #777;
  // animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.CircleControls__CancelButton,
.CircleControls__AcceptButton,
.CircleControls__DecrementButton,
.CircleControls__ClickCount {
  position: absolute;
  opacity: 0;
  user-select: none;

  transition: transform 100ms ease-in, opacity 100ms ease-in,
    color 100ms ease-in;
}

.CircleControls__CancelButton {
  background-color: #a30000;
}

.CircleControls__AcceptButton {
  background-color: #009624;
}

.CircleControls__DecrementButton {
  background-color: #2e2e2e;
}

.CircleControls__ClickCount {
  text-align: center;
  box-shadow: 0 0 10px 0px #222;
  color: #777;
  font-size: 1.2em;
  background-color: #eee;
  border-radius: 50%;
  opacity: 0;
}

.CircleControls__CancelButton._isVisible {
  opacity: 1;
}

.CircleControls__AcceptButton._isVisible {
  opacity: 1;
}

.CircleControls__DecrementButton._isVisible {
  opacity: 1;
}

.CircleControls__ClickCount._isVisible {
  opacity: 1;
}

.CircleControls__SecondaryButton {
  z-index: 0;
  justify-content: center;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 50%;
  opacity: 0;
  transform: translate(0, -50px);
  margin-left: 30px;
  margin-right: 30px;
  transition: opacity 100ms ease-in, transform 100ms ease-in;
}

.CircleControls__SecondaryButton._isVisible {
  opacity: 1;
  transform: translate(0, 0);
}

.CircleControls__GlobalControls {
  display: none;
  justify-content: space-around;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.CircleControls__EmptyScreenControls {
  display: none;
  margin-top: -20px;
}

.CircleControls__EmptyScreenControls._isVisible {
  display: flex;
}

.CircleControls__GlobalControls._isVisible {
  display: flex;
}

.CircleControls__PausePlayButton {
  z-index: 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  outline: none;
  border: 2px solid #777;
  border-radius: 50%;
  opacity: 0;
  transform: translate(0, -50px);
  transition: opacity 100ms ease-in, transform 100ms ease-in;
}

.CircleControls__PausePlayButton._isVisible {
  opacity: 1;
  transform: translate(0, 0);
}
