:root {
  --theme-background: #2f2f37; /* #3c3c3c; */
  --max-width: 800;
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: var(--theme-background);
  font-size: 100%;
}

html,
body,
#root {
  height: 100%;
  max-width: var(--max-width);
}

input,
button,
select {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1em;
  outline: none;
  border-style: solid;
}

button {
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

strong,
b {
  font-weight: 500;
}

.StripeElement {
  width: 100%;
}
