.LoadIndicator {
  position: fixed;

  bottom: 30%;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;

  opacity: 0;

  transition: opacity 300ms ease-out;
  transition-delay: 100ms;

  z-index: -1;
}

.LoadIndicator__Container {
  padding: 10px 20px 7px 20px;
  background-color: #777;
}

.LoadIndicator._isVisible {
  z-index: 3;
  opacity: 1;
}

.LoadIndicator__Text {
  color: #2e2e2e;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-size: 0.7em;
  letter-spacing: 0.2em;
}
