.SelectedBeatControls {
  z-index: -1;
  opacity: 0;
  transition: opacity 100ms ease-in;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.SelectedBeatControls._isVisible {
  z-index: 1;
  opacity: 1;
}

.SelectedBeatControls__Info {
  font-size: 1.2em;
  color: white;
  padding-bottom: 10px;
  width: 100%;
}

.SelectedBeatControls__InfoBlock {
  margin-bottom: 0.7em;
  padding: 0;
  display: flex;
  width: 100%;
}

.SelectedBeatControls__InfoBlockLeft {
  flex: 0 0 50%;
  text-align: right;
  padding-left: 20px;
  padding-right: 5px;

  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #777;
}

.SelectedBeatControls__InfoBlockRight {
  text-align: left;
  padding-left: 5px;
  padding-right: 20px;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
}

.SelectedBeatControls__Input {
  line-height: 1em;
  border: none;
  background: none;
  color: #eee;
  font-size: 1em;
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  background: #333;
}

.SelectedBeatControls__Input._isDisabled {
  color: #777;
}

.SelectedBeatControls__TimeControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.SelectedBeatsControls__BeatSlider {
  position: relative;
  height: 48px;
}

.SelectedBeatsControls__BeatSliderButton {
  position: absolute;
  text-align: center;
  border-radius: 50%;
  font-size: 0.8em;
  height: 32px;
  width: 32px;
  border: none;
  outline: none;
  color: #2e2e2e;
}

.SelectedBeatsControls__BeatSliderButton._isMute {
  background-color: #777;
}

.SelectedBeatControls__Actions {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.SelectedBeatControls__ActionButton {
  display: flex;
  justify-content: center;
  background-color: transparent;
  outline: none;
  border: 2px solid #777;
  border-radius: 50%;
  opacity: 1;
  height: 60px;
  width: 60px;
}

.SelectedBeatControls__AutoButton {
  background: none;
  border-radius: 50%;
  border: none;
  height: 1em;
  display: flex;
  justify-content: center;
  color: #777;
  padding-left: 14px;
}

.SelectedBeatControls__AutoButton._isActive {
  color: #eee;
}

.SelectedBeatControls__AutoButton span {
  font-size: 0.7em;
}
