.Settings {
  padding: 20px;
}

.Settings__Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding-top: 10px;
  padding-bottom: 10px;
}

.Settings__HeaderText {
  font-size: 1.8em;
  font-weight: 300;
  color: white;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.Settings__CloseButton {
  background: none;
  border: none;
  width: 1.8em;
  height: 1.8em;
  border: 2px solid #eee;
  border-radius: 50%;
}

.Settings__Section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Settings__SubHeaderBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.Settings__SubHeaderText {
  align-self: flex-start;

  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #777;
  font-size: 1.4em;
  font-weight: 400;

  border-bottom: 2px solid #777;
  padding-top: 0;
  padding-bottom: 0.2em;

  margin-top: 0;
  margin-bottom: 0.5em;
}

.Settings__SubHeaderAction {
  display: flex;
  justify-content: center;
  align-content: center;

  border-radius: 50%;
  border: 2px solid #777;
  background: none;
  outline: none;
  width: 1.8em;
  height: 1.8em;
}

.Settings__SoundTypesList {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Settings__ListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 20px;
  margin: 0 -20px;
}

.Settings__ListItem._isActive {
  background: #555;
}

.Settings__SoundTypeName {
  flex-grow: 1;
  border: 0;
  background: none;
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.Settings__ListItem__Action {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1.8em;
  height: 1.8em;
  background: none;
  border: 2px solid #777;
  border-radius: 50%;
  border: none;
}

.Settings__BeatNameBlock {
  display: flex;
  justify-content: space-between;
}

.Settings__BeatNameAction {
  width: 1.8em;
  height: 1.8em;
  border: 2px solid #777;
  border-radius: 50%;
  background: none;
  outline: none;
  margin-left: 1em;
}

.Settings__BeatNameInput {
  flex: 1 1;

  border: none;
  background: none;
  color: white;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: border-bottom-color 300ms ease-out;
}

.Settings__BeatNameInput:focus {
}
